{% extends 'base.html' %}
{% load static %}
{% block page_title %}Reset Password{% endblock %}
{% block page_content %}
<!--Password Reset Confirm-->	
<div class="container">
    <div class="main" style="width:530px;">
        <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
        <hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form>								
    </div>
</div>
{% endblock %}