<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/79fbebef68.js" crossorigin="anonymous"></script>
    {% load static %}
    <title>Tech Trade Store</title>
    <style>
        td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <!-- HEADER -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">

            <a class="navbar-brand" href="{% url 'home' %}">Tech Trade Store</a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link smoothScroll">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Products/add" class="nav-link smoothScroll">Add Products</a>
                    </li>
                    {% if request.user.is_authenticated %}
                        {{ request.user.get_username }}!
                        <li class="nav-item">
                            <a href="{% url 'logout' %}" class="nav-link smoothScroll">Log Out</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{% url 'login' %}" class="nav-link smoothScroll">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'register' %}" class="nav-link smoothScroll">Registration</a>
                        </li>
                    {% endif %}
                </ul>

            </div>

        </div>
    </nav>
    
    {% block page_content %}{% endblock %}
</body>
</html>