{% extends 'base.html' %}
{% load static %}
{% block page_title %}My Account{% endblock %}
{% block page_content %}
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>My Orders</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'account' %}">My Account</a></li>
                    <li class="breadcrumb-item active">My Orders</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

{% endblock %}